<div class="container">
    <div class="row my-3">
        <div class="col">
            <a href="{{ indexLink ?: '' }}"><span class="text-secondary" aria-hidden="true">&laquo;</span> {{ 'frontend.back_to_list'|trans }}</a>
        </div>
    </div>
    <div class="row art-details">
        <div class="col-md-12 mb-3">
            <label for="detailsTitle">{{ 'frontend.item.title'|trans }}</label>
            <h1 id="detailsTitle">{{ data.artwork.title }}</h1>
        </div>
        <div class="col-md-3">
            <img src="{{ asset(data.artwork.img) }}" alt="" class="img-fluid"/>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <label for="detailsArtist">{{ 'frontend.item.artist'|trans }}</label>
                    <p>{{ data.artwork.artist }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsType">{{ 'frontend.item.type'|trans }}</label>
                    <p>{{ data.artwork.type }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsDimensions">{{ 'frontend.item.dimensions'|trans }}</label>
                    <p>{{ data.artwork.dimensions }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsDescription">{{ 'frontend.item.description'|trans }}</label>
                    <p>{{ data.artwork.description }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h2 class="h4 border-bottom pb-2">{{ 'frontend.item.location'|trans }}</h2>
                </div>
                <div class="col-md-4">
                    <label for="detailsDepartment">{{ 'frontend.item.department'|trans }}</label>
                    <p>{{ data.artwork.department }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsBuilding">{{ 'frontend.item.building'|trans }}</label>
                    <p>{{ data.artwork.building }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsGeo">{{ 'frontend.item.geo'|trans }}</label>
                    <p>{{ data.artwork.geo }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h2 class="h4 border-bottom pb-2">{{ 'frontend.item.further_information'|trans }}</h2>
                </div>
                <div class="col-md-4">
                    <label for="detailsArtNo">{{ 'frontend.item.art_serial'|trans }}</label>
                    <p>{{ data.artwork.artNo }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsPrice">{{ 'frontend.item.purchase_price'|trans }}</label>
                    <p>{{ data.artwork.price }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsProductionYear">{{ 'frontend.item.production_year'|trans }}</label>
                    <p>{{ data.artwork.productionYear }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsEstimatedValue">{{ 'frontend.item.assessment_price'|trans }}</label>
                    <p>{{ data.artwork.estimatedValue }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsEstimatedValue">{{ 'frontend.item.assessment_date'|trans }}</label>
                    <p>{{ data.artwork.estimatedValueDate }}</p>
                </div>
                <div class="col-md-4">
                    <label for="detailsGeo">{{ 'frontend.item.artist_gender'|trans }}</label>
                    <p>{{ data.artwork.artistGender }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
