<div class="container-fluid">
    {% if artworks|length > 0 %}
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                        <tr class="text-muted small">
                            <th>{{ 'frontend.item.image'|trans }}</th>
                            <th>{{ 'frontend.item.title'|trans }}</th>
                            <th>{{ 'frontend.item.building'|trans }}</th>
                            <th>{{ 'frontend.item.artist'|trans }}</th>
                            <th>{{ 'frontend.item.type'|trans }}</th>
                            <th>{{ 'frontend.item.dimensions'|trans }}</th>
                            <th>{{ 'frontend.item.status'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for art in artworks %}
                            <tr>
                                <td>{% if art.images|length > 0 %}<a href="{{ art.link }}"><img src="{{ asset(art.images[0])|imagine_filter('thumbnail_frontend') }}" alt="{{ 'frontend.image.alt'|trans }} {{ art.artist }}" height="60"/></a>{% endif %}</td>
                                <td><a href="{{ art.link }}"><strong>{{ art.title ?? 'frontend.no_title'|trans }}</strong></a></td>
                                <td>{{ art.building }}</td>
                                <td>{{ art.artist }}</td>
                                <td>{{ art.type }}</td>
                                <td>{{ art.dimensions }}</td>
                                <td>
                                    {% if art.status == "Udlånt" %}
                                        <span class="badge badge-pill badge-dark">{{ art.status ?? '' }}</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-success">{{ art.status ?? '' }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if pagination is defined %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center p-3">{{ 'no_results'|trans }}</div>
    {% endif %}
</div>
