{% extends 'admin/base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block content %}
    <h1>Edit item</h1>

    {{ include('admin/item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_index') }}">back to list</a>

    {{ include('admin/item/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('imageUpload') }}
{% endblock %}
