{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container-fluid bg-light">
        <main class="login d-flex align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-md-6 col-lg-4 shadow rounded p-md-3 bg-white" style="max-width: 500px;">
                <div class="mb-3">
                    <h1 class="h2">{{ 'Kunstdatabasen'|trans }}</h1>
                </div>
                <p class="small text-muted mb-1">{{ 'Sign in'|trans }}</p>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label class="mt-3" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-primary btn-block mt-3" type="submit">
                        Sign in
                    </button>
                </form>
                {#<p class="small mt-3">{{ 'Don’t have an account yet?'|trans }} <a href="/">Create new account</a></p>#}  {#TODO: Link to create new account #}
            </div>
        </main>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
