{% extends 'base.html.twig' %}

{% block title %}Artwork{% endblock %}

{% block body %}
    <h1>Artwork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artwork.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artwork.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artwork.description }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ artwork.artist }}</td>
            </tr>
            <tr>
                <th>ArtSerial</th>
                <td>{{ artwork.artSerial }}</td>
            </tr>
            <tr>
                <th>PurchasePrice</th>
                <td>{{ artwork.purchasePrice }}</td>
            </tr>
            <tr>
                <th>ProductionYear</th>
                <td>{{ artwork.productionYear }}</td>
            </tr>
            <tr>
                <th>AssessmentDate</th>
                <td>{{ artwork.assessmentDate ? artwork.assessmentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AssessmentPrice</th>
                <td>{{ artwork.assessmentPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artwork_index') }}">back to list</a>

    <a href="{{ path('artwork_edit', {'id': artwork.id}) }}">edit</a>

    {{ include('admin2/artwork/_delete_form.html.twig') }}
{% endblock %}
