<div class="col-12 col-md-auto d-flex flex-column">
    <nav class="navbar navbar-expand-md flex-md-column h-100">
        <a href="{{ path('admin') }}" class="navbar-brand mb-md-5"><i class="fas fa-palette mr-1"></i><span class="text-dark">{{ brandShort }}</span></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#primaryNavigation" aria-controls="primaryNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-column" id="primaryNavigation">
            <ul class="nav flex-column">
                {% for menuItem in menuItems %}
                    <li class="nav-item {{ menuItem.active ? ' active' : '' }}">
                        <a class="nav-link" href="{{ menuItem.link }}">
                            <i class="fas {{ menuItem.icon }} mr-1"></i>{{ menuItem.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="dropdown open align-self-end mt-1 mt-md-5">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                            {{ user.email }}
                        </button>
                <div class="dropdown-menu" aria-labelledby="userMenu">
                    {# TODO: functionality #}
                    <button class="dropdown-item" href="#">Log ud</button>
                    <button class="dropdown-item" href="#">Skift password</button>
                </div>
            </div>

        </div>
    </nav>
</div>
{# <div class="col-auto d-flex flex-column pt-3">
    <nav class="navbar navbar-expand-md">
        <a href="{{ path('admin') }}" class="navbar-brand"><i class="fas fa-palette mr-1"></i><span class="text-dark">{{ brandShort }}</span></a>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    {% for menuItem in menuItems %}
                        <a class="nav-link{{ menuItem.active ? ' active' : '' }}" href="{{ menuItem.link }}">
                            <i class="fas {{ menuItem.icon }} mr-1"></i>{{ menuItem.title|trans }}
                        </a>
                    {% endfor %}
                </li>
                <li class="nav-item">
                    {{ user.email }}
                </li>
            </ul>
        </div>
    </nav>
</div>#}
