<div class="bg-white shadow rounded mb-5">
  <div class="table-responsive">
    <table class="table table-borderless m-3">
      {% if header %}
        <thead>
          <tr class="text-muted small">
            <th>{{ "Thumbnail"|trans }}</th>
            <th>{{ "Titel"|trans }}</th>
            <th>{{ "Art.nr."|trans }}</th>
            <th>{{ "Bygning"|trans }}</th>
            <th>{{ "Kunstner"|trans }}</th>
            <th>{{ "Type"|trans }}</th>
            <th>{{ "Status"|trans }}</th>
            <th>{{ "Funktion"|trans }}</th>
          </tr>
        </thead>
      {% endif %}
      <tbody>
        {% for art in data.artworks %}
          <tr>
            <td><a href="{{ art.link }}"><img src="{{ asset(art.img) }}" alt="" height="30"/></a></td>
            <td><a href="{{ art.link }}"><strong>{{ art.title }}</strong></a></td>
            <td>{{ art.artNo }}</td>
            <td>{{ art.building }}</td>
            <td>{{ art.artist }}</td>
            <td>{{ art.type }}</td>
            <td>
              {% if art.status == "Udlånt" %}
                <span class="badge badge-pill badge-dark">{{ art.status }}</span></td>
              {% else %}
                <span class="badge badge-pill badge-success">{{ art.status }}</span></td>
              {% endif %}
            <td><a href="{{ art.linkEdit }}"><i class="fas fa-edit"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>