<div class="bg-white shadow rounded mb-5 overflow-hidden">
    {% if items|length > 0 %}
        <div class="table-responsive">
            <table class="table table-borderless">
                {% if header %}
                    <thead>
                        <tr>
                            <th class="bg-light text-muted small">{{ 'admin.table.thumpnail'|trans }}</th>
                            <th class="bg-light text-muted small pointer">{{ 'admin.table.title'|trans }}</th>
                            <th class="bg-light text-muted small d-none d-md-table-cell">{{ 'admin.table.art_serial'|trans }}</th>
                            <th class="bg-light text-muted small">{{ 'admin.table.building'|trans }}</th>
                            <th class="bg-light text-muted small d-none d-md-table-cell">{{ 'admin.table.artist'|trans }}</th>
                            <th class="bg-light text-muted small d-none d-md-table-cell">{{ 'admin.table.type'|trans }}</th>
                            <th class="bg-light text-muted small">{{ 'admin.table.status'|trans }}</th>
                            <th class="bg-light text-muted small text-right">{{ 'admin.table.function'|trans }}</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{% if item.images|length > 0 %}<a href="#" class="item-details-link" data-id="{{ item.id }}"><img src="{{ asset(item.images[0])|imagine_filter('thumbnail_admin') }}" alt="{{ 'frontend.image.alt'|trans }} {{ item.artist is defined ? item.artist : '' }}" height="30"/></a>{% endif %}</td>
                        <td><a href="#" class="item-details-link" data-id="{{ item.id }}"><strong>{{ item.title ?: 'item.no_title'|trans }}</strong></a></td>
                        <td class="d-none d-md-table-cell">{{ item.artNo ?? '' }}</td>
                        <td>{{ item.building ?? '' }}</td>
                        <td class="d-none d-md-table-cell">{{ item.artist ?? '' }}</td>
                        <td class="d-none d-md-table-cell">{{ item.type ?? '' }}</td>
                        <td>
                            {% if item.status == "Udlånt" %}
                                <span class="badge rounded-pill bg-dark">{{ item.status ?? '' }}</span>
                            {% else %}
                                <span class="badge rounded-pill bg-success">{{ item.status ?? '' }}</span>
                            {% endif %}
                        </td>
                        <td class="text-right"><a href="{{ item.linkEdit }}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if pagination is defined %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center p-3">{{ 'no_results'|trans }}</div>
    {% endif %}
</div>
