<div class="bg-white shadow rounded mb-5">
    <div class="table-responsive">
        <table class="table table-borderless">
            {% if header %}
                <thead class="bg-light">
                <tr class="text-muted small">
                    <th>{{ 'admin.table.thumpnail'|trans }}</th>
                    <th class="pointer">{{ 'admin.table.title'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'admin.table.art_serial'|trans }}</th>
                    <th>{{ 'admin.table.building'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'admin.table.artist'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'admin.table.type'|trans }}</th>
                    <th>{{ 'admin.table.status'|trans }}</th>
                    <th class="text-right">{{ 'admin.table.function'|trans }}</th>
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for art in artworks %}
                <tr>
                    <td><a class="artwork-details-link" data-id="{{ art.id }}"><img src="{{ asset(art.img) }}" alt="" height="30"/></a></td>
                    <td><a class="artwork-details-link" data-id="{{ art.id }}"><strong>{{ art.title }}</strong></a></td>
                    <td class="d-none d-md-table-cell">{{ art.artNo }}</td>
                    <td>{{ art.building }}</td>
                    <td class="d-none d-md-table-cell">{{ art.artist }}</td>
                    <td class="d-none d-md-table-cell">{{ art.type }}</td>
                    <td>
                        {% if art.status == "Udlånt" %}
                            <span class="badge badge-pill badge-dark">{{ art.status }}</span>
                        {% else %}
                            <span class="badge badge-pill badge-success">{{ art.status }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right"><a href="{{ art.linkEdit }}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
