{% extends "admin/base.html.twig" %}

{% block content %}
    <h1 class="h4 mt-3 mb-4">{{ 'admin.welcome'|trans }}</h1>
    <p class="text-muted">{{ 'admin.index.latest_viewed'|trans }}</p>

    {% include "admin/_table.html.twig" with { header: false, items: latestVisited } %}

    <p class="text-muted">{{ 'admin.index.latest_added'|trans }}</p>

    {% include "admin/_table.html.twig" with { header: false, items: latestAdded } %}

    <div class="row mt-5">
        <div class="col">
            <a class="btn btn-primary mr-3" href="{{ path('item_new', {type: 'artwork'}) }}" role="button">{{ 'admin.index.new_artwork'|trans }}</a>
            <a class="btn btn-primary mr-3" href="{{ path('item_new', {type: 'furniture'}) }}" role="button">{{ 'admin.index.new_furniture'|trans }}</a>
            <a class="btn btn-outline-dark" href="{{ path('item_index') }}" role="button">{{ 'admin.index.show_all'|trans }}</a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <p class="text-muted">Hjælp og vejledning</p>

            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Hvad er nyt</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Support</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Github kildekode</a>
                </li>
            </ul>
        </div>
    </div>

    {% include 'admin/item/_modal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
